:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --card-paragraph-weight: 400;
  --card-title-weight: 700;
  --background: repeating-linear-gradient( 90deg, #d3d3d3 0 2px, transparent 2px 4px), 
  repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
  linear-gradient(#e7e7e7 .01%, #1a1a1a);
  --text-color: #000;
  --content-background-color: #fff;
  --button-text-color: #fff;
  --heart-contour-color: #000;
  --heart-body-color: #FF0000;
}